<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <title>Hello from Flask</title>
    <form method="post" action="/results">

        <div>
            <label for="steamAPI">Steam Web API Key:</label>
            <input type="text" name="steamAPI" id ="steamAPI" />
        </div>
        <div>
            <fieldset>
            <legend>Genres</legend>
            {%  for genre in genres %}
            <input type="checkbox" name="genres" id="{{ genre.name }}" value="{{ genre.name }}" />
            <label for="{{ genre.name }}">{{ genre.name }}</label>
            {% endfor %}
            </fieldset>
        </div>

        <div>
            <fieldset>
            <legend>Tags</legend>
            {%  for tag in tags %}
            <input type="checkbox" name="tags" id="{{ tag.name }}" value="{{ tag.name }}" />
            <label for="{{ tag.name }}">{{ tag.name }}</label>
            {% endfor %}
            </fieldset>
        </div>

        <div>
            <fieldset>
            <legend>Game Details</legend>
            {%  for game_detail in game_details %}
            <input type="checkbox" name="game_details" id="{{ game_detail.name }}" value="{{ game_detail.name }}" />
            <label for="{{ game_detail.name }}">{{ game_detail.name }}</label>
            {% endfor %}
            </fieldset>
        </div>

        <input type="submit" value="results">
    </form>
</body>
</html>